.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.post {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

h1, h2 {
    font-family: 'Arial', sans-serif;
    color: #333;
}

p {
    font-family: 'Verdana', sans-serif;
    color: #555;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* #post-image {

    width: 100px;
} */